// Small tablets and large smartphones
$screen-sm-min: 576px;
// Small tablets
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
$screen-xxl-min: 1440px;
$screen-xxxl-min: 1600px;
$screen-fullHd-min: 1920px;

$collumns-default: 12 !default;
@function createPercents($col-number) {
  @return calc(100% / ($collumns-default / $col-number));
}

.my-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

$displaySizes: ("xs": 0px, "sm": 520px, "md": 768px, "lg": 992px, "xl": 1200px, "xxl": 1440px, "xxxl": 1600px, "fullHd": 1920px);
@each $sizes,
$pixels in $displaySizes {
  @for $i from 1 to $collumns-default+1 {
    @media (min-width: $pixels) {
      .col-#{$i}-#{$sizes} {
        width: createPercents($i);
      }
    }
  }
}

$displaySizes: ("xs": 0px, "sm": 520px, "md": 768px, "lg": 992px, "xl": 1200px, "xxl": 1440px, "xxxl": 1600px, "fullHd": 1920px);

// Generate range-based classes
@each $start-name, $start-pixel in $displaySizes {
  .#{$start-name}-to- {
    @media screen and (min-width: $start-pixel) {
      display: block !important; // You can change this to any property you need

    }
  }
  @each $end-name, $end-pixel in $displaySizes {
    @if $start-pixel < $end-pixel {
      .#{$start-name}-to-#{$end-name} {
        @media screen and (min-width: $start-pixel) and (max-width: $end-pixel - 1px) {
          display: block !important;

          // You can change this to any property you need
        }
      }
    }
  }
}
