// ---COLORS---
$yellow: #fdc300;
$blue-main: #030537;
$gray: #525358;
$gray-second: #cac8c8;
$gray-third: #f5f2f2;
$gray-fourth: #e0dcdc;
$black: #000000;
$black-second: #393636;
$black-headers: #000000b3;
$white: #ffffff;
$blue: #0caff5;
$green: #00b649;

// TEXT
$line-height: 2.6rem;
$text-color: $black;
